header{
  background-color: grey;
  width: 90%;
  margin: auto;
  border-top: solid Black 1px;
  border-bottom: solid Black 1px;
  border-left: solid Black 1px;
  border-right: solid Black 1px;
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav a{
  text-decoration: none;
  color: white;
}

header nav a:last-child{
  margin-left: auto;
}

main{
  width: 90%;
  margin: auto;
  background-color: lightpink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 1400px) {
  main{
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
  }
}

@media (max-width: 1000px) {
  main{
    grid-template-columns: 1fr 1fr;
    background-color: green;
  }
}

@media (max-width: 800px) {
  main{
    grid-template-columns: 1fr;
    background-color: red;
  }
}

@media (max-width: 600px) {
  main{
    grid-template-columns: 1fr;
    background-color: blue;
  }

}

.medium{
  width: 100%;
}
